import(miscFun, treeFun)

export("find_genes",
       "chr2int",
       "int2chr",
       "read.obo",
       "read.gene_ontology",
       "dot_attributes",
       "snptest",
       "print.dot_attributes",
       "print.gene_ontology")
