import(miscFun, treeFun)

export("chr",
       "chr2int",
       "chunk",
       "combine_snptest",
       "dot_attributes",
       "extract_snps",
       "find_genes",
       "int2chr",
       "print.dot_attributes",
       "print.gene_ontology",
       "read.gene_ontology",
       "read.obo",
       "region_plot",
       "snptest",
       "unslash")
